@import 'ember-paper';
@import "ember-vertical-timeline";
$color1: rgba(48, 41, 47, 1);
$color2: rgba(65, 63, 84, 1);
$color3: rgba(95, 90, 162, 1);
$color4: rgba(53, 86, 145, 1);
$color5: rgba(63, 64, 69, 1);
$color6: rgb(118, 153, 230);
$color7: rgb(186, 195, 243);
$tile1: rgba(228, 241, 254,1);
$tile2: rgba(134, 226, 213,1);
$tile3: rgba(253, 227, 167,1);
$tile4: rgba(238, 238, 238,1);
$tile5: rgba(255, 133, 120,1);
$tile6: rgb(210, 203, 255);
$tile7: rgba(82, 179, 217,1);
$section1: rgba(204, 0, 51, 0.205);
$section2: rgba(90, 142, 224,0.5);
$section3: rgba(74, 117, 184, 0.5);
$section4: blue, lighten-4;
$section5: rgba(161, 248, 215,1);

$material-color-blue-050:         #e3f2fd !default;
$material-color-blue-100:         #bbdefb !default;
$material-color-blue-200:         #90caf9 !default;
$material-color-blue-300:         #64b5f6 !default;
$material-color-blue-400:         #42a5f5 !default;
$material-color-blue-500:         #2196f3 !default;
$material-color-blue-600:         #1e88e5 !default;
$material-color-blue-700:         #1976d2 !default;
$material-color-blue-800:         #1565c0 !default;
$material-color-blue-900:         #0d47a1 !default;
$material-color-blue-a100:        #82b1ff !default;
$material-color-blue-a200:        #448aff !default;
$material-color-blue-a400:        #2979ff !default;
$material-color-blue-a700:        #2962ff !default;

$material-color-blue-grey-050:    #eceff1 !default;
$material-color-blue-grey-100:    #cfd8dc !default;
$material-color-blue-grey-200:    #b0bec5 !default;
$material-color-blue-grey-300:    #90a4ae !default;
$material-color-blue-grey-400:    #78909c !default;
$material-color-blue-grey-500:    #607d8b !default;
$material-color-blue-grey-600:    #546e7a !default;
$material-color-blue-grey-700:    #455a64 !default;
$material-color-blue-grey-800:    #37474f !default;
$material-color-blue-grey-900:    #263238 !default;

$material-color-light-blue-050:   #e1f5fe !default;
$material-color-light-blue-100:   #b3e5fc !default;
$material-color-light-blue-200:   #81d4fa !default;
$material-color-light-blue-300:   #4fc3f7 !default;
$material-color-light-blue-400:   #29b6f6 !default;
$material-color-light-blue-500:   #03a9f4 !default;
$material-color-light-blue-600:   #039be5 !default;
$material-color-light-blue-700:   #0288d1 !default;
$material-color-light-blue-800:   #0277bd !default;
$material-color-light-blue-900:   #01579b !default;
$material-color-light-blue-a100:  #80d8ff !default;
$material-color-light-blue-a200:  #40c4ff !default;
$material-color-light-blue-a400:  #00b0ff !default;
$material-color-light-blue-a700:  #0091ea !default;

$shadow: rgba(0, 0, 0, 0.281);

.body{
    width:100%;
}

.index {
    background-color: $material-color-blue-050;
    position: relative;
    top: 0px;
}

.dynamic:hover{
    box-shadow: 0px 0px 10px 0px $shadow;
    z-index: 1;
}

md-tabs {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:2;
    background-color: $shadow;
    box-shadow: 0px 0px 5px inset $shadow;
}

#header {
    
    .particles {
        filter: blur(2px);
        background-color: $material-color-light-blue-300;
        min-height: 400px;
    }
    .header-info {
        padding-top: 250px;
        width: 100%;
        height: 5%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .center {
        margin: auto;
        margin-top: 4VH;
    }
    h1 {
        &::selection {
            background-color: #000000; /* WebKit/Blink Browsers */
          }
        color: white;
        font-size: 3rem;
        text-align: center;
        text-shadow: 0px 0px 15px #000000;
    }
    h2 {
        &::selection {
            background-color: #000000; /* WebKit/Blink Browsers */
          }
        color: white;
        font-size: 2rem;
        text-align: center;
        text-shadow: 0px 0px 10px #000000;
    }
}

#about {
    //box-shadow: inset 0 0 10px #000000;
    // height: 500px; 
    // /* Create the parallax scrolling effect */
    // background-attachment: fixed;
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    padding: 10%;

    background-color: $material-color-blue-050;
    .center {
        margin: auto;
    }
    h1 {
        color: $color2;
        font-size: 2rem;
        text-align: left;
        white-space: nowrap;
        //text-shadow: 0px 0px 5px #000000;
    }
    h2 {
        color: white;
        text-shadow: 0px 0px 10px #000000;
    }
    p {
        font-size: 1.2rem;
        text-align: left;
        text-indent: 10px;
    }
}

#experience {
    background-color: $material-color-blue-050;
    h1 { 
        color: #111; 
        font-family: 'Open Sans Condensed', sans-serif; 
        font-size: 40px; 
        font-weight: 700; 
        line-height: 64px; 
        margin: 0 0 0; 
        padding: 20px 30px; 
        text-align: center; 
        text-transform: uppercase; 
    }
    //padding: 2rem 10rem 2rem 10rem;
    .center {
        margin: 2rem;
        text-align: center;
    }
    .head {
        color: $color2;
        margin-bottom: 10rem;
        margin-left: 10rem;
        text-align: left;
    }
    .left {
    }
    .right {
    }
    .xp-item {
        padding: 4rem;
    }
    h4 {
        margin: 1.2rem;
        color: #7d7d7d;
    }
    .card-color-0 {
        background-color: $material-color-blue-100;
    }
    .card-color-1 {
        background-color: $material-color-blue-200;
    }
    .card-color-2 {
        background-color: $material-color-blue-300;
    }
    .primary-experience-card {
        // box-shadow: 10px 10px 60px 0px #888888;
        // padding: 1rem 2rem 4rem 2rem;
        // border-radius: 0.5rem;
        // border-style: solid;
        // border-color: $color7;
        // border-width: 0.2rem;
    }
      
    .secondary-experience-card {
        // box-shadow: 10px 10px 60px 0px #888888;
        // padding: 1rem 2rem 4rem 2rem;
        // border-radius: 0.5rem;
        // border-style: solid;
        // border-color: $color6;
        // border-width: 0.2rem;
    }
    .highlights {
        padding-bottom: 0.4rem;
        list-style-type: none;
        margin-top: 0.3rem;

        .icon {
            margin: 0 0 1rem 0;
        }
    }
    .experience-card {
        width: 50%;
        margin: auto;
        margin-top: 20px;
        h2, h3, .extras {
            margin: 1rem auto 0 auto;
        }
        box-shadow: 10px 10px 60px 0px #888888;
        //padding: 1rem 2rem 2rem 2rem;
        //border-radius: 0.5rem;
        //border-style: solid;
        //border-color: $color3;
        //border-width: 0.2rem;
        //margin-bottom: 5rem;
    }
    
}

#education {
    background-color: $material-color-blue-grey-100;
    padding: 4rem 1rem 1rem 1rem ;
    .education-card {
        align-items: center;
        h2, h3, .extras {
            margin: 1rem auto 0 auto;
        }
        //-webkit-box-shadow: 10px 10px 60px 0px #888888;
        padding: 1rem 2rem 2rem 2rem;
        //border-radius: 0.5rem;
        //border-style: solid;
        //border-color: $color3;
        //border-width: 0.2rem;
        margin-bottom: 5rem;
    }
    .highlights {
        margin-top: 0.3rem;
        padding-bottom: 0.4rem;
        list-style-type: none;
        .icon {
            margin: 0 0 1rem 0;
        }
    }
}

#projects {
    background: $color3;
    a:hover {
        .project-tile {
            //box-shadow: 10px 10px 100px 0px #888888;
        }
        
    }
    .color0 {
        background-color: $material-color-light-blue-050;
    }
    .color1 {
        background-color: $material-color-light-blue-100;
    }
    .color2 {
        background-color: $material-color-light-blue-300;
    }
    .color3 {
        background-color: $material-color-light-blue-400;
    }
    .color4 {
        background-color: $material-color-light-blue-200;
    }
    .color5 {
        background-color: $material-color-light-blue-100;
    }
    .color6 {
        background-color: $material-color-light-blue-200;
    }
    .project-tile {
        .project-content {
            margin-left: 2rem;
            width: 100%
            //padding: 2rem;
        }
        h1 {
            margin-top: 1rem;
            font-size: 1rem;
            padding-left: 0.5rem;
            text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
        }
        p {
            font-size: 1rem;
            padding-left: 0.5rem;
            text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
        }
        img {
            max-height: 5VH;
        }
        color: black;
        // -webkit-box-shadow: 10px 10px 60px 0px #888888;
        // border-radius: 0.3rem;
        // border-width: 0.2rem;
        
    }
    .project-grid {
        //margin: 2rem;
    }
    md-grid-list {
        width: 250VH;
        height: 60VH;
    }
    .scroll-indicator {	
        z-index: 2;
        position: absolute;
        //left: 50%;
        font-size: 50px;
        -webkit-animation: bounce 1s infinite; 
        animation: bounce 1s infinite;
    }
    
    @keyframes bounce {
        0% {
            top: 93%;
            right: 0;
        }
        
        50% {
            top: 93%;
            right: 10px;
        }
        100% {
            top: 93%;
            right: 0;
        }
    }
}

img {
    max-width: 100%;
  }
  
  a {
    color: $link;
    text-decoration: none;
    font-family: $secondary-font;
  }
  
  h1, h2 {
    font-family: $secondary-font;
    font-weight: bold;
  }
  
  .secondary-timeline-pill {
    background: $color6;
    color: white;
    display: flex

  }
  
  .primary-timeline-pill {
    background: $color7;
    color: white;
    display: flex
  }


  

  