{{#paper-tabs
  center=true
  stretch=true
  borderBottom=borderBottom
  selected=selectedTab
  onChange=(action (mut selectedBasicTab)) as |tabs|}}
    {{#each config.sections as |section|}}
        {{#tabs.tab href=section.href}}
            {{section.title}}
        {{/tabs.tab}}
    {{/each}}
{{/paper-tabs}}

{{!-- {{#liquid-bind (hash tab=selectedBasicTab) class="md-padding" as |current|}}
  <h1 class="md-display-2"></h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis
    vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices.
    Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.
  </p>
{{/liquid-bind}} --}}
{{!-- {{#paper-toolbar as |toolbar|}}
    {{#toolbar.tools}}
       
        {{#each config.sections as |section|}}
            {{#paper-button href=section.href}}
                {{section.title}}
            {{/paper-button}}
        {{/each}}
    {{/toolbar.tools}}
{{/paper-toolbar}} --}}

{{yield}}