<div id="about" class="layout-gt-sm-row layout-sm-column">
    <div class="profile-photo">
        <img alt="Nicholas Lewanowicz" src="profile_photo.jpg">
    </div>
    <div class="layout-column flex 60">
    <h1 class="center flex-10">
        About Me
    </h1>
    <p class="center">{{config.description}}</p>
    </div>
</div>
{{yield}}